{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}

<div class="horaire">
    <h1 class="h3 mb-2 text-gray-800">Disponiblité du restautant </h1>
    <a href="{{ path("admin-setups-create") }}" type="button" class="btn btn-outline-success">
    <i class="fa fa-circle-plus" ></i>
        Ajouter l'option place
    </a>
<div class="shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody> 
                    {% for setups in setups %}
                        <tr>
                        <td>{{setups.clefs}}</td>
                        <td>{{setups.value}}</td>
                        <th><a href="{{ path("admin-setups-edit", {id:setups.id}) }}" type="button" class="btn btn-outline-primary">Modifier</a></th>
                        </tr>
                    {% endfor %}
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
    <h1 class="h3 mb-2 text-gray-800">Reservations</h1>
    <div class="shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>e-mail</th>
                        <th>Couvert</th>
                        <th>Date</th>
                        <th>Heure</th>
                    </tr> 
                </thead>
                <tbody> 
                {% for reservations in reservations %}
                    <tr>
                        <td>{{reservations.Name}}</td>
                        <td>{{reservations.LastName}}</td>
                        <td>{{reservations.email}}</td>
                        <td>{{reservations.nbcouverts}}</td>
                        <td>{{reservations.scheduledTime|date("j/m/Y")}}</td>
                        <td>{{reservations.scheduledTime|date("H:i")}}</td>
                    </tr>
                {% endfor %}
                </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
