{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<h1 class = "title1">Modifier les abonnés</h1>
    <div class="deco">
  

    {{ form_start(user) }}
        {{ form_row(user.Name, {
            label:'Nom:'
        }) }}
        {{ form_row(user.roles) }}


    <button type="submit" class="btn-form">Modifier</button>
    {{ form_end(user) }}
</div>