{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}
    <div class="carte-log">
        <h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control-lg" autocomplete="email" required autofocus>
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control-lg" autocomplete="current-password" required>
    
            <input type="hidden" name="_csrf_token" 
               value="{{ csrf_token('authenticate') }}">
        </div>
        
    
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
    
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    
        <button class="btn btn-secondary" type="submit">
            Me connecter
        </button>
    </div>
</form>
{% endblock %}
