{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
<div class="carte">
<h1 class="titleCarte">La Carte</h1>
    <a href="{{ path("admin-category-create") }}" type="button" class="btn btn-outline-success">Ajouter une categorie</a>
{% for category in categorys %}
      <p class="titleCategory">{{ category.title }} </p>
      <a href="{{ path("admin-category-edit", {id:category.id}) }}" type="button" class="btn btn-outline-primary">Modifier</a>
      <span class="descriptionCategory">{{ category.description }}</span>
    <table class="table table-bordered">
        <thead> 
            <tr>
            </tr> 
        </thead>
    <tbody> 
    {% for product in category.products %}
        <tr>
            <td class="titleProduct">{{ product.title }}</td> - 
            <td class="descriptionProduct">{{ product.description }}</td> - 
            <td class="price">{{ product.prices }}€</td>
            <td><a href="{{ path("admin-product-edit", {id:product.id}) }}" type="button" class="btn btn-outline-primary">Modifier</a></td>
            <td><a href="{{ path("admin-product-delete", {id:product.id}) }}" type="button" class="btn btn-outline-danger">Supprimer</a></td>
        </tr>
    {% endfor %}
{% endfor %}

    </tbody>
    </table>
</div>
{% endblock %} 