{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
<h1>La Carte</h1>
<a href="{{ path("admin-category-create") }}" type="button" class="btn btn-outline-primary"><img src="../photo/icons8-ajouter-une-propriété-48.png" alt="ajouter une categorie"></a>

<a href="{{ path("admin-product-create") }}" type="button" class="btn btn-outline-primary"><img src="../photo/icons8-ajouter-une-propriété-48.png" alt="ajouter un produit"></a>


<div class="deco left">
 <table class="table table-striped-columns">        

        <thead> 
            <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Nom</th>
            </tr> 
        </thead>
        {% for category in categorys %}
        <tbody> 
            <tr>
            <td>{{category.Title}}</td>
            <td>{{category.Description}}</td>
            <td>{{category.IsMenu}}</td>

            </tr>
        {% endfor %}
        </tbody> 
    </table>
</div>

<div class="deco left">
 <table class="table table-striped-columns">        

        <thead> 
            <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Nom</th>
            </tr> 
        </thead>

{% for product in products %}
<tbody> 
            <tr>
            <td>{{product.Title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.prices}}</td>
            <td>{{product.category}}</td>

            </tr>
        {% endfor %}
        </tbody> 
    </table>
</div>



{% endblock %} 