<!DOCTYPE html>
{% set weekDay = [
    "Dimanche",
    "Lundi",
    "Mardi",
    "Mercredi",
    "Jeudi",
    "Vendredi",
    "Samedi",
] %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quai Antique Admin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/adminstyle.css')}}">
        {% endblock %}
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
        {% block body %}{% endblock %}
    <body>
        <div class="menu-container">
        <input type="checkbox" id="openmenu" class="hamburger-checkbox">
            <div class="hamburger-icon">
                <label for="openmenu" id="hamburger-label">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </label>    
            </div>
            <div class="menu-pane">
                <nav>
                  <ul class="menu-links">
                    <li><a href="{{ path('accueil') }}">
                        Le Site
                    </a></li>
                    <li><a href="{{ path('admin-setups') }}">
                        Reservation
                    </a></li>
                    <li><a href="{{ path('admin-picture') }}">
                        Photo
                    </a></li>
                    <li><a href="{{ path('admin-carte') }}">
                        Carte
                        </a></li>
                    <li><a href="{{ path('admin-schedule') }}">
                        Horraire
                    </a></li>
                    <li><a href="{{ path('admin-user') }}">
                      Client
                    </a></li>
                  </ul>
                </nav>
            </div>
    </body>
</html>