{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}

<div class="horaire">
    <h1 class="h3 mb-2">Horaire d'ouverture</h1>
    <a href="{{ path("admin-schedule-create") }}" type="button" class="btn btn-outline-success mb-4">
        <i class="fa fa-circle-plus" ></i>
    </a>
    <div class="shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped-columns">        
                    <thead> 
                        <tr>
                            <th>Jour</th>
                            <th>Midi</th>
                            <th>fermeture Midi</th>
                            <th>Soir</th>
                            <th>fermeture soir</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr> 
                    </thead>
                    <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{weekDay[schedule.week]}}</td>
                            <td>{{schedule.noonStartTime|date("H:i")}}</td>
                            <td>{{schedule.noonEndTime|date("H:i")}}</td>
                            <td>{{schedule.nightStartTime|date("H:i")}}</td>
                            <td>{{schedule.nightEndTime|date("H:i")}}</td>
                            <th><a href="{{ path("admin-schedule-edit", {id:schedule.id}) }}" type="button" class="btn btn-outline-primary">
                                <i class="fa fa-pencil"></i>
                                </a></th>
                            <th><a href="{{ path("admin-schedule-delete", {id:schedule.id}) }}" type="button" class="btn btn-outline-danger">
                                    <i class="fa fa-trash-can"></i>
                                </a></th>
                        </tr>
                    {% endfor %}
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} 