{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
<div class="carte-form">
    <h1>Modifier les horaires</h1>
    {{ form_start(schedule) }}
        {{ form_row(schedule.week, {
        label:'Jour :'
        }) }}
        {{ form_row(schedule.noonStartTime, {
            label:'Ouverture du midi :'
        }) }}
        {{ form_row(schedule.noonEndTime, {
            label:'Fermeture du midi :'
        }) }}
        {{ form_row(schedule.nightStartTime, {
            label:'Ouverture du soir :'
        }) }}
        {{ form_row(schedule.nightEndTime, {
            label:'Fermeture du soir :'
        }) }}
            <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(schedule) }}
</div>
{% endblock %} 