{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
<a href="{{ path("admin-picture-create") }}" type="button" class="btn btn-outline-success position-absolute">Ajouter</a>

<div class="user">
    <div class="shadow mb-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody> 
                {% for picture in pictures %}
                <tr>
                <td><img src={{asset('uploads/picture/' ~ picture.picture)}} width="300px" height="200px" class="photo"></td>
                <td>{{picture.title}}</td>
                <td><a  class="btn btn-outline-primary" href="{{ path("admin-picture-move", {id:picture.id, move:'haut'} ) }}">monter</a></td>
                <td><a  class="btn btn-outline-primary" href="{{ path("admin-picture-move", {id:picture.id, move:'bas'} ) }}">dessendre</a></td>
                <td><a href="{{ path("admin-picture-modifier", {id:picture.id} ) }}" class="btn btn-outline-primary">modifer</a></td>
                <td><a href="{{ path("admin-picture-delete", {id:picture.id} ) }}" class="btn btn-outline-danger">suprimer</a></td>
                </tr>
                {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}
