{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
<a href="{{ path("admin-picture-create") }}" type="button" class="btn btn-outline-success position-absolute mt-4 btn-sm">Ajouter</a>

<div class="picture w-75">
    <div class="shadow mb-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody> 
                {% for picture in pictures %}
                <tr>
                <td><img src={{asset('uploads/picture/' ~ picture.picture)}} width="100px" height="80px" class="photo"></td>
                <td>{{picture.title}}</td>
                <td><a  class="btn btn-outline-primary btn-sm m-auto" href="{{ path("admin-picture-move", {id:picture.id, move:'haut'} ) }}">
                        <i class="fa fa-light fa-up-long"></i>
                    </a></td>
                <td><a  class="btn btn-outline-primary btn-sm" href="{{ path("admin-picture-move", {id:picture.id, move:'bas'} ) }}">
                        <i class="fa fa-light fa-down-long"></i>
                    </a></td>
                <td><a href="{{ path("admin-picture-modifier", {id:picture.id} ) }}" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-pencil"></i>
                    </a></td>
                <td><a href="{{ path("admin-picture-delete", {id:picture.id} ) }}" class="btn btn-outline-danger btn-sm">
                        <i class="fa fa-trash-can"></i>
                    </a></td>
                </tr>
                {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}
