{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
<h1>Les categories de la carte</h1>

<a href="{{ path("category-create") }}" type="button" class="btn btn-outline-primary"><img src="../photo/icons8-ajouter-une-propriété-48.png" alt="ajouter une categorie"></a>

<div class="deco left">
 <table class="table table-striped-columns">        

        <thead> 
            <tr>
            <th>titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>manytoone</th>
            </tr> 
        </thead>
        {% for category in categorys %}
        <tbody> 
            <tr>
            <td>{{category.week}}</td>
            <td>{{category.scheduleMoon}}</td>
            <td>{{category.scheduleNight}}</td>
            <td>{{CategoryProduct}}</td>
            </tr>
        {% endfor %}
        </tbody> 
    </table>
</div>
{% endblock %} 