<div class="footerborder">
</div>
<div class="contacte">
    <h3>Nous Contacter</h3>
    <p>3 rue général De Gaulle<br>
    73018 Chambery<br>
    telephone: 06 00 00 00 00<br>
    </p>
</div>
<div class="footer">
<h2>Horaire d'ouverture</h2>
    <table class="table table-striped-columns schedule"> 
           <tr>
                {% for schedule in schedules %}
                    <td>{{ weekDay[schedule.week]}}</td>
                {% endfor %}
            </tr>
           <tr>
                {% for schedule in schedules %}
                    <td>
                        {% if (schedule.noonStartTime|date("Hi") == 0) %}
                            Fermé
                        {% else %}
                            {{schedule.noonStartTime|date("H:i")}}/{{schedule.noonEndTime|date("H:i")}}
                         {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for schedule in schedules %}
                    <td>
                        {% if (schedule.nightStartTime|date("Hi") == 0) %}
                            Fermé
                        {% else %}
                            {{schedule.nightStartTime|date("H:i")}}/{{schedule.nightEndTime|date("H:i")}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
    </table>
</div>

