
<div class="footer">
        <table class="table table-striped-columns">        

            <thead> 
                <tr>
                <th>Jour</th>
                <th>Midi</th>
                <th>Soir</th>
                </tr> 
            </thead>
{% for schedule in schedules %}
             <tbody> 
                <tr>
                <td>{{ weekDay[schedule.week]}}</td>
                <td>{{schedule.noonStartTime|date("H:i")}}</td>
                <td>{{schedule.noonEndTime|date("H:i")}}</td>
                <td>{{schedule.nightStartTime|date("H:i")}}</td>
                <td>{{schedule.nightEndTime|date("H:i")}}</td>
                </tr>
{% endfor %}
</tbody> 
</table>
