<!-- Navigation-->

<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>    
    </div>
  
      <div class="menu-pane">
        
        <nav>
          <ul class="menu-links">
            <li><a href="{{path('accueil')}}">Quai Antique</a><span id="QC-info">
              <p>06 00 00 00 00</p>
            </span>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
              <li><a href="{{ path('admin_accueil') }}">Section Admin</a></li>
            {% endif %}
            <li><a href="{{path('carte')}}">Carte</a></li>
            <li><a href="{{path('reservation')}}">Reserver</a></li>
            {% if app.user %}
              <li><a href="{{ path('moncompte') }}">Mon profil</a></li>
              <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
              <li><a href="{{ path('login') }}">Connection</a></li>
              <li><a href="{{ path('register') }}">S'inscrire</a></li>
            {% endif %}
        </nav>

      </div>
    <div class="body-text">
    
    </div>
  </div>

</html>