{% extends 'base.html.twig' %}
{% block body %}
<div class="carte-log reservation">
<h1>Reservation</h1>

            <form action="{{ path('reservation') }}" method="POST">
                <div>
                    <label for="name">Nom<span class="pointRed">*</span> :</label>
                    <input onChange="checkForm()" class="form-control" type="text" id="name" name="user_name" value="{% if user %}{{user.name}}{% endif %}">
                </div>

                <div>
                    <label for="LastName">Prénom<span class="pointRed">*</span> :</label>
                    <input onChange="checkForm()" class="form-control" type="text" id="LastName" name="user_LastName">
                </div>

                <div>
                    <label for="email">E-mail<span class="pointRed">*</span> :</label>
                    <input onChange="checkForm()" class="form-control" type="text" id="email" name="user_email" value="{% if user %}{{ user.email}}{% endif %}" placeholder="mail@gmail.fr">
                </div>
                <div>
                    <label onclick="alert('bla')" for="schedule">Allergène :</label>
                    <input class="form-control" type="text" id="" name="user_scheduled" value="{% if user %}{{ user.mentionsAllergene}}{% endif %}" placeholder="Vos allergène">
                </div>

                <div>
                    <label for="schedule">Date<span class="pointRed">*</span> :</label>
                    <input class="form-control" type="date" id="scheduledDate" name="user_scheduled" onChange="getDate()">
                </div>

                <div>
                    <label for="time" id="labelTime">Horaire<span class="pointRed">*</span> :</label>
                    <select class="form-control" name="time" id="time-select" onChange="getDispo()">
                    </select>
                </div>

                <div id="Pax">
                    <label for="nbcouverts">Nombre de personne<span class="pointRed">*</span> :</label>
                    <select  onChange="checkForm()" class="form-control" name="nbcouverts" id="selectPax" value="{% if user %}{{user.nbcouverts|raw}}{% endif %}"></select>
                </div>

                <div class="" id="msgError" name="" >
                    <p id="msgErrorText"></p>
                </div>

                <button type="submit" class="wooden-button-log" id="btn-resa" name="">Reserver</button>
            </form>
        
    </div>
    {% include 'footer.html.twig' %}
{% endblock %} 