{% extends 'admin/baseAdmin.html.twig' %}


{% block body %}
<div class="carte-form">
<h1>Modifier Produit</h1>
            {{ form_start(productForm) }}
            {{ form_row(productForm.Title, {
            label:'Nom'
        }) }}
        {{ form_row(productForm.description, {
            label:'description'
        }) }}
        {{ form_row(productForm.prices, {
            label:'Prix'
        }) }}
            {{ form_end(productForm) }}

</div>

{% endblock %} 