       {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/adminstyle.css')}}">
        {% endblock %}


{% block body %}
<div class="carte-form-create">
<h1>Crée Produit</h1>
            {{ form_start(productForm) }}
            {{ form_row(productForm.Title, {
            label:'Nom'
        }) }}
        {{ form_row(productForm.description, {
            label:'description'
        }) }}
        {{ form_row(productForm.prices, {
            label:'Prix'
        }) }}
            {{ form_end(productForm) }}
        
<div>
{% endblock %} 