{% extends 'base.html.twig' %}
{% block body %}
{% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
{% endfor %}
<div class="carte-log compte">
    <h1>Mon Compte</h1>
    {{ form_start(user) }}
        {{ form_row(user.Name, {
            label:'Nom :'
        }) }}
        {{ form_row(user.firstName, {
            label:'Prénom :'
        }) }}
        {{ form_row(user.email, {
            label:'E-mail :'
        }) }}
        {{ form_row(user.mentionsAllergene, {
            label:'Allergéne :'
        }) }}
        {{ form_row(user.nbCouverts, {
            label:'Nombre de place favorie :'
        }) }}
             <button type="submit" class="wooden-button-log">Modifier</button>
    {{ form_end(user) }}
    <div class="">
        <a href="{{path('edit-password')}}">
         <button  class="wooden-button-log change">Changer mon mot de passe</button>
        </a>
    </div>
</div>
    {% include 'footer.html.twig' %}
{% endblock %} 